*{padding: 0px;margin: 0px;}
.bg-yellow{background-color: #F8CF19;}
.text-yellow{color: #F8CF19;}
.bg-img{background-image: url("./images/border.png"); background-repeat: no-repeat;}
.border-yellow{border: 2px solid #F8CF19;}
.text-justify{text-align: justify;}
.bg-img-primeLocation{background-image: url("./images/Prime-Location.png"); background-size: cover; background-repeat: no-repeat; background-position: center;}
.fsc{font-size: 2.5em;}
video{
    margin: 0 !important;
    padding: 0 !important;
    display: block;
  }